# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# IDE files
.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# PyTest
pytest.ini

# PyTest Coverage
coverage_reports/
.coverage
.coveragerc

# Environment Variables
.env

# Logging
logs/